.App {
  font-family: 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ff7aa6;

  margin: 20px auto 0 auto;

  width: 350px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header {
  text-align: center;
}

#nothing {
  
  text-align: center;
}