.App {
  font-family: 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ff7aa6;

  margin: 20px auto 0 auto;

  width: 400px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
}

#appname {
  text-align: center;
}

#nothing {

  text-align: center;
}

.App .header {
  display: flex;
  margin: 0 30px 20px 30px;
}

.App .header input {
  font-family: 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 300;
  font-size: 24px;

  padding-left: 14px;
  width: 100%;
  border: none;
}

.App .header input:focus {
  outline: none;
} 

.App .header input::placeholder {
  color: #c0c0c0;
  font-style: italic;
} 